venv/

**pyc**
__pycache__
__pycache__/

test.ipynb

.DS_Store

# Only include the paper results 
Results/*
!Results/Chain_50_kid/
!Results/Comparisons/
!Results/Comparisons/FC_10_10_combine5seeds-CAVEMAN_10_10_combine5seeds-CIRCLE_10_10_combine5seeds
!Results/Comparisons/FC_10_10_combine5seeds-FC_10_10_creative5seeds-FC_10_10_notCreative5seeds-FC_10_10_combine_mixedPop_5seeds
!Results/Comparisons/FC_10_10_combine5seeds-FC_10_10_minorChanges5seeds-FC_10_10_repeat5seeds-FC_10_10_different5seeds