scikit-learn==1.4.0
nltk==3.8.1
gensim==4.3.2
spacy==3.7.4
textblob==0.17.1
matplotlib==3.8.2
networkx==3.2.1
flask==3.0.2
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl