{% extends 'base.html' %}

{% block head %}
<title>Simulation</title>
<script>
    function toggleCliques() {
        var network_structure = document.getElementById("network_structure");
        var n_cliques_container = document.getElementById("n_cliques_container");
        if (network_structure.value == "caveman") {
            n_cliques_container.style.display = "block";
        } else {
            n_cliques_container.style.display = "none";
        }
    }

    function generateAgentsInput() {
    const nAgents = parseInt(document.getElementById("n_agents").value)
    const formAgents = document.getElementById("form-agents")

    formAgents.innerHTML = "<h2>Agents parameters</h2>";

    // Get the prompt options from the Flask template context
    const promptOptions = JSON.parse('{{ prompt_options|tojson }}');

    // Generate input fields for each agent
    for (let i = 0; i < nAgents; i++) {
        // Create a div to hold the input fields for this agent
        const agentDiv = document.createElement("div");
        agentDiv.className = "agent";

        const agentLabel = document.createElement("label");
        agentLabel.textContent = `Agent ${i + 1}:`;
        agentLabel.style.width = '120px';

        // Create the select elements for this agent
        const promptInitLabel = document.createElement("label");
        promptInitLabel.htmlFor = `prompt_init_${i}`;
        promptInitLabel.textContent = `Initial prompt:`;
        const promptInitSelect = document.createElement("select");
        promptInitSelect.id = `prompt_init_${i}`;
        promptInitSelect.name = `prompt_init_${i}`;
        const promptUpdateLabel = document.createElement("label");
        promptUpdateLabel.htmlFor = `prompt_update_${i}`;
        promptUpdateLabel.textContent = `Update prompt:`;
        const promptUpdateSelect = document.createElement("select");
        promptUpdateSelect.id = `prompt_update_${i}`;
        promptUpdateSelect.name = `prompt_update_${i}`;
        const personalityLabel = document.createElement("label");
        personalityLabel.htmlFor = `personality_list_${i}`;
        personalityLabel.textContent = `Personality:`;
        const personalitySelect = document.createElement("select");
        personalitySelect.id = `personality_list_${i}`;
        personalitySelect.name = `personality_list_${i}`;

        // Populate the options for each select element using the prompt options
        for (const option of promptOptions.initial_prompts) {
            const promptInitOption = document.createElement("option");
            promptInitOption.value = option;
            promptInitOption.textContent = option;
            promptInitSelect.appendChild(promptInitOption);
        }

        for (const option of promptOptions.update_prompts) {
            const promptUpdateOption = document.createElement("option");
            promptUpdateOption.value = option;
            promptUpdateOption.textContent = option;
            promptUpdateSelect.appendChild(promptUpdateOption);
        }

        for (const option of promptOptions.personalities) {
            const personalityOption = document.createElement("option");
            personalityOption.value = option;
            personalityOption.textContent = option;
            personalitySelect.appendChild(personalityOption);
        }

        // Add the agent label to the beginning of the agent div
        agentDiv.appendChild(agentLabel);

        // Add the select elements to the agent div
        agentDiv.appendChild(promptInitLabel);
        agentDiv.appendChild(promptInitSelect);
        agentDiv.appendChild(document.createElement("br"));
        agentDiv.appendChild(promptUpdateLabel);
        agentDiv.appendChild(promptUpdateSelect);
        agentDiv.appendChild(document.createElement("br"));
        agentDiv.appendChild(personalityLabel);
        agentDiv.appendChild(personalitySelect);
        agentDiv.appendChild(document.createElement("br"));

        // Add the agent div to the form-agents div
        formAgents.appendChild(agentDiv);
        }
    }


    window.onload = function() {
        generateAgentsInput();
};
</script>


{% endblock %}

{% block body %}

<h1>Run a transmission simulation</h1>

<form method="POST">
    <h2>Experiment parameters</h2>

    <div class="form-column">
        <label for="output">Experiment name:</label>
        <input type="text" id="name" name="name" value=""><br>

        <label for="n_agents">Number of agents:</label>
        <input type="number" id="n_agents" name="n_agents" min="1" value="2" oninput="generateAgentsInput()"><br>

        
    </div>

    <div class="form-column">
        <label for="n_timesteps">Number of generations:</label>
        <input type="number" id="n_timesteps" name="n_timesteps" min="1" value="10"><br>

        <label for="network_structure">Network structure:</label>
        <select id="network_structure" name="network_structure" onchange="toggleCliques()">
            <option value="sequence">Sequence</option>
            <option value="fully_connected">Fully connected</option>
            <option value="circle">Circle</option>
            <option value="caveman">Caveman</option>
        </select><br>

    </div>

    <div id="n_cliques_container" style="display: none;">
        <label for="n_cliques">Number of cliques in caveman network:</label>
        <input type="number" id="n_cliques" name="n_cliques" min="1" value="2"><br>
    </div>


    <div class="form-agents" id="form-agents">
        <h2>Agents parameters</h2>
    </div> 

      <div class="form-button">
        <input type="submit" value="Run simulation">
      </div> 

</form>

{% endblock %}

